DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your-username
DB_PASSWORD=
DB_NAME=yesterday_for_today
JWT_SECRET=your-secret-key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
FRONTEND_URL=http://localhost:3000
